body {
    font-family: Arial, sans-serif;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 10px #ccc;
}

input[type=range],
select {
    width: 100%;
}

input[type=number],
input[type=text] {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    box-sizing: border-box;
}

input[type=text][disabled] {
    background-color: #f7f7f7;
}

#conversionRates {
    font-size: 0.9em;
    color: #666;
}
